.root {
  position: relative;
}

.showcase_circle {
  border: 2px solid white;
  border-style: dashed;
  opacity: 0.4;
  animation-name: rotateElement;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateElement {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flowerRight {
  position: absolute;
  right: -20%;
  top: 0;
  z-index: 1;
}

.flower_container {
  position: absolute;
  right: 0;
  bottom: 0;
}

.photo_overlay {
  position: absolute;
  top: 50%;
  width: 100vw;

  .overlay_left {
    position: absolute;
    top: 100;
  }

  .overlay_right {
    position: absolute;
    top: 0;
    margin-top: -200px;
    right: 0;
  }
}
