.service_container {
  opacity: 0.3;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  .service_container_img {
    z-index: 2;
    opacity: 0;
    transition: 0.5s linear;
    pointer-events: none;
  }

  &:hover {
    .service_container_img {
      opacity: 1;
    }
  }
}
