.root {
  background: var(--color-events-primary-100);
  min-height: 100vh;
  transition: 0.5s ease-in-out;
}

.loader_container {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    45deg,
    var(--color-events-primary-100),
    var(--color-events-primary-200),
    var(--color-events-primary-300)
  );
  background-size: 600% 600%;
  animation: backgroundRotate 15s ease infinite;
}

.loader_content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
