.root {
    position: relative;
  }
  
  .flower_svg {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  .flower_svg svg {
    stroke: var(--color-celebrations-primary-500);
    height: 300px;
  }
  
  .designcard {
    background: linear-gradient(
      -45deg,
      var(--color-celebrations-primary-900),
      var(--color-celebrations-primary-600)
    );
  }
  
  .window_oval {
    width: 150px;
    height: 250px;
    position: absolute;
    left: calc(50% - 75px);
    top: calc(50% - 125px);
    border-radius: 9999px;
    display: block;
    background: var(--color-celebrations-primary-500);
  }
  
  .window_rect {
    width: 160px;
    height: 200px;
    position: absolute;
    left: calc(50% - 80px);
    bottom: calc(50% - 100px);
    display: block;
    background: var(--color-celebrations-primary-500);
  }
  