.top_round_1 {
  background: white;

  --r: 10px; /* the radius */
  --s: 21px; /* the size of the corner*/

  margin-top: -19.5px;
  margin-right: -10px;

  border-radius: var(--r);
  --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(
      #000 70%,
      #0000 72%
    ) no-repeat;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  mask: calc(var(--s) + var(--r)) bottom var(--_m),
    bottom calc(var(--s) + var(--r)) left 0 var(--_m),
    radial-gradient(var(--s) at 0 100%, #0000 99%, #000 101%) var(--r)
      calc(-1 * var(--r)) no-repeat,
    conic-gradient(
      from 180deg at calc(var(--s) + 2 * var(--r))
        calc(100% - var(--s) - 2 * var(--r)),
      #0000 25%,
      #000 0
    );
}

.top_round_2 {
  background: white;

  --r: 10px; /* the radius */
  --s: 20px; /* the size of the corner*/

  margin-top: -10px;

  border-radius: var(--r);
  --_m: /calc(2 * var(--r)) calc(2 * var(--r)) radial-gradient(
      #000 70%,
      #0000 72%
    ) no-repeat;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  mask: calc(var(--s) + var(--r)) bottom var(--_m),
    bottom calc(var(--s) + var(--r)) left 0 var(--_m),
    radial-gradient(var(--s) at 0 100%, #0000 99%, #000 101%) var(--r)
      calc(-1 * var(--r)) no-repeat,
    conic-gradient(
      from 180deg at calc(var(--s) + 2 * var(--r))
        calc(100% - var(--s) - 2 * var(--r)),
      #0000 25%,
      #000 0
    );
}
